<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="BSIL Bearing Software">
      <meta name="author" content="Harsh Agarwal">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/common.css">
      <title>BSIL Machine</title>
   </head>
   <body style="background-image:url('/images/light-blue-ornamental-background_1268-916.jpg');background-repeat: no-repeat;background-size: cover;">
      <div id="navigation"></div>
   </body>
   <script type="text/javascript" src="/javascript/jquery.min.js"></script>
   <script  type="text/javascript" src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/javascript/machineSection/common.js"></script>
</html>
