<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap-3.3.6/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Balance Zero</title>
</head>

<body style="background-color:lavender;">

    <!-- Navigation bar div begins -->
    <div id="navigation"></div>
    <!-- NAvigation bar div end -->

    <pre style="background-color:lavenderblush">
       <div >
        <h2 style="text-align:center;">Items With Current Balance As Zero</h2>
      </div>
      <a href="#" class="btn btn-success btn-sm btn-block export" style="color:black;font-size: 15px;">
      EXPORT DATA AS EXCEL SHEET
      <br>
      <strong style="color: blue;" >*WHILE SAVING THE FILE DO NOT REMOVE THE .CSV AT THE END OF THE FILE NAME</strong></a>

      <div id="loader">
       <img src="images/loader.gif" alt="" style="width:12%;height:25%;"/>
     </div>
  <div class="result" id="result" style="text-align:center;">
    <%- table %>
  </div>
</pre>

    <div class="" style="position: fixed; bottom: 0; width: 100%;">
        <a id="minusBtn" onclick="minus()" style="position:fixed;bottom:40px;cursor:pointer;"><span class="glyphicon glyphicon-zoom-out" ></span></a>
        <a id="plusBtn" onclick="plus()" style="position:fixed;bottom:0;cursor:pointer;"><span class="glyphicon glyphicon-zoom-in"></span></a>
    </div>
</body>
<script type="text/javascript" src="/javascript/common.js"></script>
<script src="/javascript/jquery.min.js"></script>
<script src="/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var currFFZoom = 1;
    var currIEZoom = 100;

    function plus() {
        //alert('sad');
        var step = 15;
        currFFZoom += step;
        $('body')
            .css('MozTransform', 'scale(' + currFFZoom + ')');
        var stepie = 15;
        currIEZoom += stepie;
        $('body')
            .css('zoom', ' ' + currIEZoom + '%');

    };

    function minus() {
        //alert('sad');
        var step = 15;
        currFFZoom -= step;
        $('body')
            .css('MozTransform', 'scale(' + currFFZoom + ')');
        var stepie = 15;
        currIEZoom -= stepie;
        $('body')
            .css('zoom', ' ' + currIEZoom + '%');
    };


    function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td)'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"';

                // Deliberate 'false', see comment below
        if (false && window.navigator.msSaveBlob) {

                        var blob = new Blob([decodeURIComponent(csv)], {
                  type: 'text/csv;charset=utf8'
            });
            
            // Crashes in IE 10, IE 11 and Microsoft Edge
            // See MS Edge Issue #10396033: https://goo.gl/AEiSjJ
            // Hence, the deliberate 'false'
            // This is here just for completeness
            // Remove the 'false' at your own risk
            window.navigator.msSaveBlob(blob, filename);
            
        } else if (window.Blob && window.URL) {
                        // HTML5 Blob        
            var blob = new Blob([csv], { type: 'text/csv;charset=utf8' });
            var csvUrl = URL.createObjectURL(blob);

            $(this)
                    .attr({
                        'download': filename,
                        'href': csvUrl
                    });
                } else {
            // Data URI
            var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

                        $(this)
                .attr({
                      'download': filename,
                    'href': csvData,
                    'target': '_blank'
                    });
        }
    }

    $(document).ready(function() {
        console.log("IN ready");
        $(".nav.navbar-nav li:eq(7)")
            .attr("class", "active");
        $("#print")
            .click(function() {
                window.print();
            });
        $("#loader")
            .fadeOut(150);

        // This must be a hyperlink
        $(".export").on('click', function(event) {
            // CSV
            console.log("IN");
            var args = [$('#result>table'), 'report.csv.csv'];
            exportTableToCSV.apply(this, args);

            // If CSV, don't do event.preventDefault() or return false
            // We actually need this to be a typical hyperlink
        });
    });
</script>

</html>