<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.css">
    <link rel="stylesheet" href="/bootstrap-3.3.6/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Edit Entry Home</title>
    <style media="screen">
        span {
            color: red;
            font-size: 20px;
        }

    </style>
</head>

<body style="background-color:lavender;">

    <!-- Navigation bar div begins -->
    <div id="navigation"></div>
    <!-- NAvigation bar div end -->

    <div class="container-fluid" style="overflow:hidden;">
        <pre style="background-color:lavenderblush;margin-top:10px;">
        <h2 style="text-align:center;">
           Edit Entries
          <small>
            Click On A Button And Enter The Details.
          </small>
        </h2>
        <div class="" style="margin-top:-100px;">
          <div class="btn-group btn-group-justified">
            <a href="/edit_entry_name" class="btn btn-warning btn-lg" >Edit name , group ,size , unit</a>
            <a href="/edit_entry_entry" class="btn btn-default btn-lg">Edit Entered Entry</a>
            <a href="/delete_entry_one" class="btn btn-danger btn-lg">Delete An Entry</a>
      </div>
        </div>


</pre>
    </div>

<div class="" style="position: fixed; bottom: 0; width: 100%;">
<a id="minusBtn"   onclick="minus()" style="position:fixed;bottom:40px;cursor:pointer;"><span class="glyphicon glyphicon-zoom-out" ></span></a>
<a id="plusBtn"   onclick="plus()" style="position:fixed;bottom:0;cursor:pointer;"><span class="glyphicon glyphicon-zoom-in"></span></a>
</div>
</body>
<script type="text/javascript" src="/javascript/common.js"></script>
<script src="/javascript/jquery.min.js"></script>
<script src="/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
<script src="/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
<script>
    var currFFZoom = 1;
    var currIEZoom = 100;

    function plus() {
        //alert('sad');
        var step = 15;
        currFFZoom += step;
        $('body')
            .css('MozTransform', 'scale(' + currFFZoom + ')');
        var stepie = 15;
        currIEZoom += stepie;
        $('body')
            .css('zoom', ' ' + currIEZoom + '%');

    };

    function minus() {
        //alert('sad');
        var step = 15;
        currFFZoom -= step;
        $('body')
            .css('MozTransform', 'scale(' + currFFZoom + ')');
        var stepie = 15;
        currIEZoom -= stepie;
        $('body')
            .css('zoom', ' ' + currIEZoom + '%');
    };

</script>
<script type="text/javascript">
    $(function () {
        $(".nav.navbar-nav li:eq(8)")
            .attr("class", "active");
        $("#print")
            .click(function () {
                window.print();
            });
    });

</script>

</html>
