<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap-3.3.6/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Edit Entry Login</title>
</head>

<body style="background-color:lavender;">

    <!-- Navigation bar div begins -->
    <div id="navigation"></div>
    <!-- NAvigation bar div end -->


    <div class="container-fluid" style="overflow:hidden;">
        <pre style="background-color:lavenderblush;margin-top:10px;">
  <h2 style="text-align:center;">
    Type Password
    <small>
      <div class="row">
  <div class="col-lg-5">
   </div>
  <div class="col-lg-3">
    <form  action="checkPassword" method="post">
      <input type="password" name="password" class="form-control" placeholder="enter password here......" required>
      <button type="submit" name="submit" class="btn btn-success btn-lg"  >Submit</button>
    </form>
  </div>
  <br><br><br><br><br>
  <div class="" style="color:red;text-align:center;">
    <%- incorrect %>
  </div>
</div>
    </small>
  </h2>
      </pre>
    </div>

    <!--<datalist id="searchResultsForName"><option value="coke"><option value='bearing'></datalist>-->

</body>
<script type="text/javascript" src="/javascript/common.js"></script>
<script type="text/javascript" src="/javascript/jquery.min.js"></script>
<script>
    $(".nav.navbar-nav li:eq(8)")
        .attr("class", "active");
    $("input")
        .focus();

</script>

</html>
