<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap-3.3.6/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Receive Item</title>
</head>

<body style="background-color:lavender;">

    <!-- Navigation bar div begins -->
    <div id="navigation"></div>
    <!-- NAvigation bar div end -->

    <div class="container-fluid" style="overflow:hidden;">
        <pre style="background-color:lavenderblush;margin-top:10px;">
           <h2 style="text-align:center;">
             Recieve Items Into Stock
             <small>
               After entering any field press enter to go to the next field.
               Until a field is corect , You can't go to the next field
               If all the entries are correct , a submit button will appear
             </small>
           </h2>




           <table class="table table-condensed"  style="margin-top:-100px;">

    <thead>
      <tr>
        <th>S No.</th>
        <th>Date</th>
        <th>Item Name</th>
        <th>Unit</th>
        <th>Current Balance</th>
        <th>Group</th>
        <th>Quantity</th>
        <th>Make</th>
        <th>Bill no./Dispatch Details</th>
        <th>Submit Buttons</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <div id="loader" style="display:none;">
     <img src="images/loader.gif" alt="" style="width:12%;height:25%;"/>
   </div>

    <tbody id="table_body">

      <tr id="row1">
  <td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  <td> <input id="dateOfEntry1" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  <td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  <td><div class="well well-sm" id="unit"></div></td>
  <td><div class="well well-sm" id="current"></div></td>
  <td><div class="well well-sm" id="group"></div></td>
  <td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  <td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  <td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  <td>
  	<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  </td>
  <td><cite class="thumb"></cite></td>
  </tr>





  <tr id="row2" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry2" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row3" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry3" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row4" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry4" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row5" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry5" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row6" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry6" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row7" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry7" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row8" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry8" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row9" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry9" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row10" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry10" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row11" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry11" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row12" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry12" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row13" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry13" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row14" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry14" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row15" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry15" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row16" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry16" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row17" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry17" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row18" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry18" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row19" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry19" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row20" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry20" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row21" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry21" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row22" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry22" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row23" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry23" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row24" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry24" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row25" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry25" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row26" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry26" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row27" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry27" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row28" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry28" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row29" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry29" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>








  <tr id="row30" style="display:none;">
  	<td> <input id="serial_number" name="serial_number" type="text" size=2 disabled value="1" ></td>
  	<td> <input id="dateOfEntry30" class="dateOfEntry" name="dateOfEntry" size="11" type="text" required></td>
  	<td><input  type="text" name="name" class="item_name" size="18" placeholder="enter item name...."></td>
  	<td><div class="well well-sm" id="unit"></div></td>
  	<td><div class="well well-sm" id="current"></div></td>
  	<td><div class="well well-sm" id="group"></div></td>
  	<td><input type="number" id="quantity" class="quantity" name="quantity" placeholder="enter number....." size=4 min=0 required></td>
  	<td><input  type="text" name="make" class="make"  size="19" placeholder="enter make...."></td>
  	<td><input  type="text" name="bill" class="bill" size="19" placeholder="enter bill details....."></td>
  	<td>
  		<button id="add" class="btn btn-warning btn-sm add" style=" margin-top:-6%;margin-left:-25%;display:none;">Recieve</button>
  	</td>
  	<td><cite class="thumb"></cite></td>
  	</tr>














<tr id="row31" style="display:none;">
<td> </td>
<td>
  <div class="alert alert-danger">
      <strong>Maximum Limit Reached.Please Reset The Fields And Enter Again.</strong>
    </div>
</td>
</tr>




</tbody>
</table>

  <br><br><br>
  <br><br><br><br><br><br>
  <button type="button" name="button" class="btn btn-warning btn-lg" id="reload">Reset Fields</button>

    </pre>
    </div>

    <!--<datalist id="searchResultsForName"><option value="coke"><option value='bearing'></datalist>-->

<div class="" style="position: fixed; bottom: 0; width: 100%;">
  <a id="minusBtn"   onclick="minus()" style="position:fixed;bottom:40px;cursor:pointer;"><span class="glyphicon glyphicon-zoom-out" ></span></a>
  <a id="plusBtn"   onclick="plus()" style="position:fixed;bottom:0;cursor:pointer;"><span class="glyphicon glyphicon-zoom-in"></span></a>
</div>
</body>
<script type="text/javascript" src="/javascript/common.js"></script>
<script type="text/javascript" src="/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
<script type="text/javascript" src="/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascript/JavascriptForReceivePresentItem.js"></script>
<script>
    var currFFZoom = 1;
    var currIEZoom = 100;

    function plus() {
        //alert('sad');
        var step = 15;
        currFFZoom += step;
        $('body')
            .css('MozTransform', 'scale(' + currFFZoom + ')');
        var stepie = 15;
        currIEZoom += stepie;
        $('body')
            .css('zoom', ' ' + currIEZoom + '%');

    };

    function minus() {
        //alert('sad');
        var step = 15;
        currFFZoom -= step;
        $('body')
            .css('MozTransform', 'scale(' + currFFZoom + ')');
        var stepie = 15;
        currIEZoom -= stepie;
        $('body')
            .css('zoom', ' ' + currIEZoom + '%');
    };

</script>

</html>
