<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="BSIL Bearing Software">
    <meta name="author" content="Harsh Agarwal">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>BSIL Rolls Home</title>
  </head>
<body class="mainBG">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BSIL BEARING & ROLLS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/machineSection">Machine Section</a></li>
            <li><a href="/workrollSection">Workroll Section</a></li>
            <li><a href="/updateEntry">Alter Existing Entry</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <pre style="border:0;background-color:transparent;overflow:hidden;">
    <div>
      <div class="container container-table" style="margin-top:-9%;">
        <div class="row vertical-center-row">
          <div class="text-center col-md-2 col-md-offset-4" >
              <a href="/"><img src="/images/logo.png" alt="BSIL" style="background-color:transparent;" /></a>
          </div>
        </div>
      </div>
      <br>
      <a href="/"><h1  class="col-md-12" style="color:white;text-align : center;margin-top:-9%;" >WELCOME TO BSIL WORKROLL & BEARING LEDGER</h1></a>
    </div>
    <div>
        <div class="col-md-12"  style="margin-top:-13%;">
          <div class="btn-group btn-group-justified">
            <a href='/machineSection' class="btn btn-warning btn-lg" target="_self" style="color:black;font-size: 2em; text-decoration:none;"><strong> Machine Section</strong></a>
            <a href='/workrollSection' class="btn btn-success btn-lg" target="_self" style="color:black;font-size: 2em;  text-decoration:none;"><strong> Workroll Section</strong></a>
            <a href='/updateEntry' class="btn btn-danger btn-lg" target="_self" style="color:black; font-size: 2em; text-decoration:none;"><strong> Alter Existing Entry</strong></a>
          </div>
        </div>
     </div>
   </pre>
  </body>
  <script type="text/javascript" src="/javascript/jquery.min.js"></script>
  <script src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
</html>
